<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<nav>
    <h1>Városok</h1>
    <a href="/bejelentkezes">Bejelentkezés</a>
    <menu>
        <a href="/">Főoldal</a>
        <a href="">Adatbázis</a>
        <a href="">aaa</a>
    </menu>
</nav>
<body>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Iusto, unde voluptatibus? Aut voluptatum nulla ipsam enim molestias laudantium dolorum iste in soluta blanditiis. 
    Eaque vitae exercitationem accusamus fugiat, qui itaque?
</body>
</html>